Django==1.7.1
bcrypt==1.1.0
cffi==0.8.6
cryptography==0.6.1
django-bootstrap-admin==0.3.4
django-tastypie==0.12.1
djangorestframework==3.0.0
pyOpenSSL==0.14
pycparser==2.10
pycurl==7.19.5
pymongo==2.7.2
python-dateutil==2.3
python-mimeparse==0.1.4
six==1.8.0
wsgiref==0.1.2
